{
     "FileNameLength": 20,
     "UploadDir": "files",
     "MaxFileSize": 512000000,
     "Database": {
          "Host": "127.0.0.1",
          "User": "postgres",
          "Password": "admin",
          "DBname": "image_database",
          "port": 5432,
          "TableName": "images"
     }
}