{
     "fileNameLength": 20,
     "uploadDir": "/gomf/files",
     "maxFileSize": 512000000,
     "uploadEndpoint": "/upload",
     "uploadPort": 8080,
     "database": {
          "host": "db",
          "user": "postgres",
          "password": "postgres",
          "dbName": "image_database",
          "port": 5432,
          "tableName": "images"
     }
}
